@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Acme", sans-serif;
}

/* HEADER */
.header {
  background-color: black;
  height: 10vh;
  width: 100%;
}

.header__container {
  background-color: black;
  height: 10vh;
  width: 100%;
  opacity: 80%;
  position: fixed;
  top: 0;
  padding-top: 1vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10000000;
}

.header__logo {
  font-size: 2rem;
  color: white;
  padding-left: 1rem;
}

.header__nav {
  padding-left: 3rem;
}

.header__list {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
}

.header__link {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  padding-right: 2rem;
}
.header__link:hover {
  color: pink;
}

.novedades {
  background-color: black;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
}

.novedades__img {
  width: 100%;
}

.principal {
  display: flex;
  flex-flow: row;
}

.principal__items {
  position: relative;
  flex: 0 0 33.3333333333%;
  transition: all 1s;
  filter: grayscale(40%);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.principal__items:hover {
  filter: grayscale(0);
}

.principal__title {
  position: absolute;
  font-size: 4rem;
  width: 100%;
  top: calc(50% - 4rem);
  text-align: center;
  color: white;
}

.principal__img {
  max-width: 100%;
  height: 110vh;
  object-fit: cover;
}

.card {
  background-color: black;
}
.card .catalogo__imagen {
  max-height: 10%;
  overflow: hidden;
}
.card .card-body .card-title {
  color: white;
}
.card .card-body button {
  background-color: pink;
}
.card .card-body button:hover {
  background-color: white;
  color: pink;
}
.card .card-body button:active {
  background-color: pink;
  color: white;
}

.footer {
  background-color: black;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.footer h3 {
  color: white;
}
.footer p {
  color: white;
}
.footer form {
  display: flex;
  flex-flow: row;
}

.footer__social {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer__icons {
  font-size: 2rem;
  color: white;
}

@media (max-width: 840px) {
  .header {
    height: inherit;
  }
  .header__container {
    position: relative;
    flex-direction: column;
    height: auto;
    align-items: center;
  }
  .header__nav {
    padding: 0;
  }
  .header__list {
    flex-direction: column;
  }
  .header__items {
    display: block;
    height: 2.5rem;
  }
  .header__link {
    display: block;
    font-size: 1.5rem;
    text-align: center;
  }
  .principal {
    flex-flow: column wrap;
  }
  .principal__items {
    width: 100vw;
  }
  .principal__img {
    width: 100vw;
  }
}

/*# sourceMappingURL=styles.css.map */
