@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Acme', sans-serif;
}

.header {
    /* Dimensiones y Color */
    background-color: black;
    height: 10vh;
    width: 100%;
}

.header__container {
    /* Dimensiones y Color */
    background-color: black;
    height: inherit;
    width: inherit;
    opacity: 80%;
    /* Posicion y Contenido */
    position: fixed;
    top: 0;
    padding-top: 1vh;
    display: flex;
    /* justify-content:space-evenly; */
    align-items: center;
    justify-content: space-between;
    gap: 10;
    background-image: url(../images/textura-dark.png);

    z-index: 10000000;
}

.header__logo {
    font-size: 2rem;
    color: white;
    margin-left: 1rem;
}

.header__nav {
    padding-left: 3rem;
}


.header__list {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
}

.header__link {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    
    margin-right: 2rem;
}

.header__link:hover {
    color: pink;
}

.section-tools {
    background-color: black;
    height: 5vh;
    display: flex;
    flex: row wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 5rem;
    padding-left: 5%;
    padding-right: 5%;
    display: none;
    /* ! Creo q no lo voy a incluir */
}

/* TODO Novedades no me convence */
.novedades {
    background-color: black;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.novedades__img {
    width: 100%;
}



.novedades__text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3vw;
    color: #f82d97;
    text-shadow: 0 0 5px #ffacd7, 0 0 15px #ffc3e2, 0 0 30px #f82d97, 0 0 50px #f82d97;
}

.principal {
    display: flex;
    flex-flow: row;

}

.principal__items {
    position: relative;
    flex: 0 0 calc(100% / 3);
    transition: all 1s;
    filter: grayscale(40%);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.principal__title {
    position: absolute;
    font-size: 4rem;
    width: 100%;
    top: calc(50% - 4rem);
    text-align: center;
    color: white;
}

.principal__items:hover {
    filter: grayscale(0);
}

.principal__img {
    /* max-width: inherit; */
    /* width: calc(130vw / 3); */
    height: 110vh;
    object-fit: cover;
}

.section-contacto{
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: flex;
    flex-flow: column;
    width: 100%;
}

.section-contacto .box-form{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.box-form form{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
}

.box-form form input{
    width: 20rem;
    height: 3rem;
    font-size: 1rem;
    border-radius: 5px;
    border-color: rgb(177, 204, 228);
    border-style: double;
    color: rgb(161, 248, 248);
}

.box-form form input::placeholder {
    color:rgb(222, 222, 222) ;
    opacity: 1; 
}


.footer {
    height: 30vh;
    background-color: black;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-image: url(../images/textura-dark.png);

}

.footer h3 {
    color: white;
}

.footer p {
    color: white;
}

.footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer__icons {
    font-size: 2rem;
    color: white;
}

/* * Media Queries */

@media  (max-width: 840px) {
    .principal{
        flex-flow: column wrap
    }

    .principal a{
        width: 100vw;
    }
    .principal a img{
        width: 100vw;
    }

    .header__nav{
        display: none;
    }

}