.card{
    background-color: $background-color_1;
    .catalogo__imagen{
        max-height: 10%;
        overflow: hidden;
    }
    .card-body{
        .card-title{
            color: $color_1;
        }
    
        button{
            background-color: $color_2;
            &:hover {
                @include colorFondoYLetra($color_1,$color_2);
            }
            &:active {
                @include colorFondoYLetra($color_2,$color_1);
            }
        }
    }
}