.footer {
	background-color: $background-color_1;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
	h3 {
		color: $color_1;
	}
	p {
		color: $color_1;
	}
	form{
		display: flex;
		flex-flow: row;
	}
}
.footer__social {
	margin-top: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
.footer__icons {
	font-size: 2rem;
	color: $color_1;
}
