
.novedades {
	background-color: $background-color_1;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	width: 100%;
}
.novedades__img {
	width: 100%;
}
.novedades__text {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 5vw;
	color: $color_1;
	text-shadow: 0 0 5px #ffacd7, 0 0 15px #ffc3e2, 0 0 30px #f82d97, 0 0 50px #f82d97;
}
